/* .service-area-card {
  padding: 20px;
}

.province-card {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 16px;
  background: #fff;
}

.province-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.province-toggle {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding-left: 0px;
}
label.province-toggle input {
    margin: 0px;
    width: 15px;
}

.city-item {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.cities-grid.disabled {
  opacity: 0.5;
  pointer-events: none;
}


label.city-item input {
    margin: 0px;
    width: auto;
}

aside.custom-admin-sidebar a img {
    border-radius: 10px;
} */
